*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
  scroll-behavior:smooth;
}

body{
  background:#080808;
  color:white;
}

/* NAVBAR */

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 8%;
  border-bottom:1px solid #222;
}

.logo{
  font-size:28px;
  font-weight:bold;
  color:#d4af37;
}

nav ul{
  display:flex;
  gap:30px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
}


/* HERO */

.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px;
}

.hero-card{
  width:900px;
  max-width:95%;
  background:#111;
  border:1px solid #222;
  border-radius:20px;
  text-align:center;
  padding:60px 40px;
}

.hero-card img{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
}

.intro{
  color:#aaa;
  margin-bottom:20px;
}

.hero-card h1{
  font-size:48px;
  line-height:1.4;
  margin-bottom:30px;
}

button{
  background:none;
  border:1px solid #d4af37;
  color:#d4af37;
  padding:14px 28px;
  cursor:pointer;
  border-radius:10px;
}


/* GRID */

.grid-section{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  padding:80px 8%;
}

.card{
  background:#111;
  border:1px solid #222;
  padding:40px;
  border-radius:16px;
}


/* PROJECTS */

.projects{
  padding:80px 8%;
}

.projects h2{
  margin-bottom:40px;
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.project-card{
  background:#111;
  padding:80px 40px;
  border-radius:16px;
  border:1px solid #222;
}


/* CONTACT */

.contact{
  text-align:center;
  padding:120px 20px;
}